*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.container{
    background-color: black;
    height: 80vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
   padding: 1rem;
   /* text-align: center; */
}

.heading{
    color: white;
     display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.items h1{
    color: antiquewhite;
    /* justify-content: center; */
    
  
    
}

.items{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
    
.addbook{
    margin-top: 2rem;
}