*{
    margin: 0;
    padding: 0;
}


    /* Example CSS */
body {
  /* Centers the image */
}


/* Add a black background color to the top navigation */

.topnav {
  background-color: #333;
  overflow: hidden;
    width: 100%;
    justify-content: center;
    display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4d4a4b;
  color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #5a6662;
  color: rgb(223, 223, 223);
} */

.nav-heading{
    background-color: #07070886;
    display: flex;
    justify-content: center;
    align-items: center;
}


.to-do-container{
    background-color: red;
    height: 81vh;
    width: 85%;
    padding: 50x;
    margin: 20px;
    margin-left: 80px;
}

h1{
    margin-bottom: 20px;
}
input{
    width: 200px;
    padding: 5px;
    margin-right: 5px;
    
}


button{
    padding: 5px 5px;
    cursor: pointer;
    background-color: #e41c1c63;
    border-radius: 12px;

}

button:hover{
    background-color: rgb(255, 159, 16);
    border-color: rgb(29, 230, 29);
}

ul{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    text-align: left;

}
li{
    margin-bottom: 10px;
}


.footer{
    background-color: black;
    color: white;
}
.img{
     background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Makes the image cover the entire element */
  background-position: center;
  height: 100px;
    
}