/* .upper-text{
    background-color: rgb(231, 231, 238);
} */
 body{
    margin: 0;
    padding: 0;
 }
.main{
    background-color: rgb(229, 229, 235);
    height: 55vh;
   
     
}
main .heading{
    color: rgb(39, 160, 160);
    height: 100px;
}
.submit .s-btn{
    color: rgb(14, 14, 24);
    background-color: rgb(226, 75, 75);
    font-size: 0.98;
    border-radius: 0.5rem;
    border-color: rgb(160, 175, 18);

}


footer {
    background-color: black;
    height: 40vw;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    position: fixed;
}

footer .footer  ul li{
    padding-left:5vw ;
    color: white;
    list-style: none;
}